@page "/Admin"
@rendermode InteractiveServer
@inject NavigationManager Nav

<div class="admin-container">

    <h1 class="admin-title">Adminbereich</h1>

    @if (!IsAdmin)
    {
        <div class="admin-card">

            <h3>Login</h3>

            <label for="emailInput">E-Mail</label>
            <input id="emailInput" type="text" class="admin-input" @bind="adminEmail" />

            <label for="passwordInput">Passwort</label>
            <input id="passwordInput" type="password" class="admin-input" @bind="adminPassword" />

            @if (!string.IsNullOrEmpty(error))
            {
                <p class="admin-error">@error</p>
            }

            <button class="admin-btn admin-login" @onclick="Btn_LoginAdmin">
                Login
            </button>
        </div>
    }
    else
    {
        <div class="admin-card">
            <h3>Admin-Panel</h3>

            <p class="admin-info">Du bist eingeloggt als @adminEmail</p>

            <button class="admin-btn admin-logout" @onclick="Btn_LogoutAdmin">
                Logout
            </button>
        </div>
    }
</div>

@code {
    private string adminEmail = "";
    private string adminPassword = "";
    private string error = "";
    private bool IsAdmin = false;

    private void Btn_LoginAdmin()
    {
        if (adminEmail == "admin@htlvb.at" && adminPassword == "Passw0rd")
        {
            IsAdmin = true;
            error = "";
        }
        else
        {
            error = "Falsche E-Mail oder Passwort!";
        }
    }

    private void Btn_LogoutAdmin()
    {
        IsAdmin = false;
        adminEmail = "";
        adminPassword = "";
        Nav.NavigateTo("/");
    }
}